{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}Welcome | {% endblock %}

<style>
  {% block style %}

  {% endblock %}
</style>

{% block jumbotron %}

<div class="jumbotron">
  <h1 class='header-title'>The Collector</h1>
  <p class="lead text-align-center">Simple newsletter application built with Django &amp; Bootstrap</p>
  <a class="btn btn-lg btn-primary" href="" role="button">Join us &raquo;</a>
</div>

{% endblock %}


{% block content %}

  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <p><h1 class="lead text-align-center">{{ title }}</h1></p>
      <form method='POST' action=''>{% csrf_token %}
        {{ form|crispy }}
        <input class='btn btn-primary' type='submit' value='Sign Up' />
      </form>
    </div>
  </div>

{% endblock %}