{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}Welcome | {% endblock %}

{% block jumbotron_content %}
  <h1>The Collector newsletter</h1>
  <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>
  <a class="btn btn-lg btn-primary" href="/docs/4.3/components/navbar/" role="button">View navbar docs &raquo;</a>
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-sm-6 col-md-3">
    <h1>{{ title }}</h1>

    {{ user }}

    {{ request.user }}

    <form method='POST' action=''>{% csrf_token %}
      {{ form|crispy }}
      <input class='btn btn-primary' type='submit' value='Sign Up' />
    </form>
  </div>
</div>
{% endblock %}