<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <a class="navbar-brand" href="{% url 'home' %}">The Collector</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
<div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">Contact</a>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li> -->
    </ul>
        {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
        <form class='form-inline mt-2 mt-md-0 ml-auto' method='POST' action='{% url "auth_login" %}'>{% csrf_token %}
            <div class='form-group'>
                <input type='text' class='form-control mr-sm-2' name='username' placeholder='Username' />
            </div>
            <div class='form-group'>
                <input type='text' class='form-control mr-sm-2' name='password' placeholder='Password' />
            </div>
            <button type='submit' class='btn btn-default'>Login</button>
        </form>
        {% endif %}
    <ul class="navbar-nav">
        {% if request.user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{% url 'auth_logout' %}">Logout</a></li>
        {% else %}
        <!-- <li><a href="{% url 'auth_login' %}">Login</a></li> -->
        <li class="nav-item"><a class="nav-link" href="{% url 'registration_register' %}">Register</a></li>
        {% endif %}
    </ul>
       

    <!-- <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
    </div>
</nav>