.navbar-static-top {
  background-color: #08424c;
  border-color: grey;
}

.navbar-default .navbar-brand {
  color: #dbe2d9;
}

.navbar-default .navbar-brand:hover {
  color: #dbe2d9;
}

.navbar-default .navbar-nav>li>a:hover {
  color: indianred;
}

.navbar-default .navbar-toggle {
  border-color: transparent !important;
}

.navbar-toggle:hover{
  background-color: grey !important;
}
